Flask==1.1.2
sqlalchemy==1.4.11
Gunicorn==20.1.0
flask-cors==3.0.10
Flask-SQLAlchemy==2.5.1
Flask-Limiter==1.4
Flask-apscheduler==1.12.2
chinesecalendar==1.5.0
Ta-Lib==0.4.19
scikit-learn==0.24.1
lightgbm==3.1.1
baostock==0.8.8