Flask
sqlalchemy
Gunicorn
flask-cors
Flask-SQLAlchemy
Flask-Limiter
Flask-apscheduler
chinesecalendar
Ta-Lib==0.4.19
scikit-learn
redis
baidu-aip
PyJWT
flasgger
pyyaml
visualdl
opencv-python
tqdm
filelock
scipy
prettytable
sklearn
unicodedata2
matplotlib
dlib
blind-watermark